<!DOCTYPE html>

<html lang="en">

{% load static %}



<head>
    <meta charset="UTF-8">
    <!--font for the top-left soft study page title-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'first_app/style.css' %}">
    <title>Soft Study</title>
</head>

<body>
    <header id="container">
        <div id="page-logo">
            <!--can add a link to the page title if wanted-->
            <a>Soft Study</a>
        </div>
        <nav>
            <ul>
                <!--location for links to music and timers-->
            </ul>
        </nav>
    </header>
    <main>
        <script src="https://threejs.org/build/three.min.js"></script>
        <!-- GLTFLoader.js source -->
        <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
	
        <section id="room">
            <div id="timer-content" class="oval-rectangle">            </div>
            <div id="room-content">
                <!--This is where we will put the Three.js-->
                <!-- <h1><img src = "{% static 'first_app/room1.png' %}" alt = "description of photo"></h1> -->
                <script>
                    const renderer = new THREE.WebGLRenderer({antialias: true});
                    const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
                    const scene = new THREE.Scene();
                    let Mesh;
                    let light;
                
                    function init() {
                        scene.background = new THREE.Color('black');
                        camera.position.set(0, 10, 20);
                        renderer.setSize(window.innerWidth, window.innerHeight);
                        document.body.appendChild(renderer.domElement);
                    }
                
                    function setLight() {
                        light = new THREE.AmbientLight(0xffffff); // soft white light
                        scene.add(light);
                    }
                
                    function loadGLTF() {
                        let balloonLoader = new THREE.GLTFLoader();
                
                        balloonLoader.load("{% static 'first_app/blender_asset_coming_soon.gltf' %}", (gltf) => {
                            Mesh = gltf.scene;
                            Mesh.scale.set(.5,.5,.5);
                            scene.add(Mesh);
                            Mesh.position.x = -1;
                            Mesh.position.y = 10;
                            Mesh.position.z = 15;
                        });
                    }
                
                    function animate() {
                        requestAnimationFrame(animate);
                        if (Mesh && Mesh.rotation) {
                            Mesh.rotation.y -= 0.005;
                        }
                        renderer.render(scene, camera);
                    }

                    function onWindowResize() {
                        camera.aspect = window.innerWidth / window.innerHeight; 
                        camera.updateProjectionMatrix(); 
                        renderer.setSize(window.innerWidth, window.innerHeight);
                    }

                    window.addEventListener('resize', onWindowResize, false); 
                
                    init();
                    setLight();
                    loadGLTF();
                    animate();
                </script>
                <!-- <p></p>
                <a href=""></a> -->
            </div>
        </section>
        <!--below the Three.js for arrows to rotate it?-->
        <section id="">
            <!--<h2></h2>
            <ul id="destinations">
                <img src="" alt="description of photo">
                <p>words<strong>words</strong></p>
                </li>
                <li class="destination">
                    <img src=".jpg" alt="photo description">
                    <p>words<strong>words</strong></p>
                </li>
                <li class="destination">
                    <img src=".jpg" alt="what is this image?">
                    <p>words<strong></strong></p> 
                </li>
            </ul> -->
        </section>
    </main>
    <footer></footer>
</body>

</html>

<!--
 
} -->
